/* otherStyles.css */

/* Estilo para hacer que el texto sea clickable */
.clicked {
  cursor: pointer;
  color: #007bff; /* Color azul para indicar interactividad */
  text-decoration: underline; /* Subraya el texto */
  margin-top: 20px;
  text-align: center;
}

/* Efecto hover */
.clicked:hover {
  color: #0056b3; /* Cambia a un tono más oscuro cuando se pasa el cursor */
  text-decoration: none; /* Elimina la subrayado en el hover */
}

.multiple-selector {
  width: 30%;
}

.selector-multiple {
}
