/* otherStyles.css */

/* Estilo para hacer que el texto sea clickable */
.clicked {
  cursor: pointer;
  color: #f39c12; /* Color azul para indicar interactividad */
  text-decoration: underline; /* Subraya el texto */
  margin-top: 20px;
  height: 10%;
}

/* Efecto hover */
.clicked:hover {
  color: #e67e22; /* Color del enlace en hover (naranja suave) */
  text-decoration: none; /* Elimina la subrayado en el hover */
}

/* Estilo para hacer que el texto sea clickable */
.clicked-no-underline {
  cursor: pointer;
  color: #a9a9a9; /* Color para indicar interactividad */
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent; /* 'backgroundColor' corregido a 'background-color' */
  font-size: 20px; /* 'fontSize' corregido a 'font-size' */
  position: absolute;
}

/* Estilo para hacer que el texto sea clickable */
.clicked-no-underline:hover {
  cursor: pointer;
  color: #a9a9a9; /* Color para indicar interactividad */
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent; /* 'backgroundColor' corregido a 'background-color' */
  font-size: 20px; /* 'fontSize' corregido a 'font-size' */
  position: absolute;
  color: #6c6c6c; /* Gris más oscuro para el hover */
  text-decoration: none; /* Elimina la subrayado en el hover */
}

.multiple-selector {
  width: 30%;
}

h1,
h2 {
  color: #f39c12;
}

p {
  color: #ecf0f1;
}

.p-multiselect {
  width: 20rem;
}

.p-multiselect .p-multiselect-label {
  text-align: left;
}

.drop-zone {
  width: 400px;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.drop-zone:hover {
  background-color: rgb(58, 76, 98); /* Cambio sutil en el color del borde */
}
.drop-zone.dragover {
  background-color: rgb(58, 76, 98); /* Cambio sutil en el color del borde */
}

@keyframes slideDown {
  0% {
    transform: translateX(-50%) translateY(-20px); /* Comienza desde arriba */
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(0); /* Se mueve a la posición final */
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateX(-50%) translateY(0); /* Se mueve a la posición final */
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
  }
}
